/Check_forPrimenum.class
/Factorial_of_a_number.class
/Find_Largestof_2num.class
/Find_Largestof_3num.class
/StringReverse.class
/Student.class
/Student_info.class
/Swap_without_3rdVar.class
/cont_brk.class
