/Calculator.class
/Char_freq.class
/Find_maxofArrayele.class
/Longest_paliandrome.class
/Move_evnnumtofront.class
/Paliandrome.class
/Print_even_numinArray.class
/Sumof_array1.class
/sum0fArray_to_eachelement.class
